<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}math notes{% endblock title %}</title>
    <link href="{{ settings.BASE_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ settings.BASE_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="{{ settings.BASE_URL }}js/facebook.js"></script>
{% block extra_head %}
{% endblock extra_head %}
</head>
<body>
{% block header %}
<div class="header">
   {% if user and not user.is_anonymous %}
   {{ user.get_full_name|default:user.username }}
   |
   <a href="{% url 'auth:logout' %}?next={%  url "note_list" %}">logout</a>
   {% else %}login:
   <a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">facebook</a> |
   <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">google</a> |
   <a href="{% url 'auth:login' %}?next={{ request.path }}">password</a>
   {% endif %}
</div>
{% endblock header %}
<div class="content">
{% block content %}
{% endblock content %}
</div>
{% comment %}
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
{% endcomment %}
</body>
</html>
