<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock title %}</title>
    <link href="{{ settings.BASE_URL }}css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="{{ settings.BASE_URL }}css/main.css" rel="stylesheet" type="text/css">
    <script src="{{ settings.BASE_URL }}js/facebook.js"></script>
{% block extra_head %}
{% endblock extra_head %}
</head>
<body>
<div class="header">
   {% if user and not user.is_anonymous %}
   {{ user.get_full_name|default:user.username }}
   |
   <a href="{% url 'auth:logout' %}">logout</a>
   {% else %}
   <a href="{% url 'auth:login' %}">login</a>
   {% endif %}
</div>

<div class="content">
{% block content %}
{% endblock content %}
</div>
{% comment %}
<div
  class="fb-like"
  data-share="true"
  data-width="450"
  data-show-faces="true">
</div>
{% endcomment %}
</body>
</html>
