{% extends "base.html" %}

{% block extra_head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script src="{{ settings.BASE_URL }}js/note.js"></script>
{% endblock %}

{% block content %}
    <a href="{% url "note_list" %}">back to list</a>
    <div id="div_{{ note.hash }}" class="note" hash="{{ note.hash }}">
    </div>
    <p>
    {% if note.author %}
    author: {{ note.author }}
    {% endif %}
    </p>
{% endblock %}
